<html>
    <head>
         <link href="css/bootstrap.min.css" rel="stylesheet"> 
         <link rel="icon"  type="image/icon"  href="Node.ico" />
    </head>
    <body ng-app="postgreSQL">
        <div class="container" style="margin-top:20px;"  ng-controller="postgreSQLCtrl">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="jumbotron">
                        <h1>
                            Safety Alert
                        </h1>
                        <p>
                            Project which shows registerd users, where one user can send alert to other users incase of trouble. So that they can come up with help.
                            <br /> <br />
                        </p>

                    </div>
                </div>
            </div>
            
            <!-- <div class="row clearfix" style="margin-bottom:10px;">
                <div class="controls form-inline form-group">
                    <div class="col-md-2">
                        <input id="fName" name="fName"  placeholder="First Name" ng-model="fName"
                               type="text" class="form-control input-small"> 
                    </div>
                    
                    <div class="col-md-2">
                        <input id="lName" name="lName"  placeholder="Fcm" ng-model="lName"
                               type="text" class="form-control input-small"> 
                    </div>
                    
                    <div class="col-md-2">
                        <input id="Email" name="Email"  placeholder="Lat" ng-model="email"
                               type="text" class="form-control input-small"> 
                    </div>
                    
                    <div class="col-md-2">
                        <input id="mobile" name="mobile"  placeholder="Lng" ng-model="mbl"
                               type="text" class="form-control input-small"> 
                    </div>
                    
                    <div class="col-md-2">
                        <button ng-click="addRecord()" id="btnAdd" name="btnAdd" class="btn btn-danger">Add</button>
                    </div>
                     
                </div>
            </div> -->
            
            <div class="row clearfix" style="margin-top:20px;"> 
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>  Id  </th>
                            <th> Username </th>
                            <th> Fcm </th>
                            <th>Lat</th>
                            <th>Lng</th>
                            <th>Location</th>
                            <th>   </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in dataset">
                            <td> {{item.id}} </td>
                            <td> {{item.username}} </td>
                            <td> {{item.fcm}} </td>
                            <td> {{item.lat}} </td>
                            <td> {{item.lng}} </td>
                            <td> {{item.location}} </td>
                            <td> <span title="delete this record" class="glyphicon glyphicon-trash text-danger" style="cursor:pointer" ng-click="delRecord(item.id)"></span> </td>
                        </tr>
                    </tbody>
                </table> 
                 
            </div>
        </div>
        
        <script src="lib/angular.min.js"></script>
        <script>
 
            var myApp = angular.module('postgreSQL',[ ]); 
             
            myApp.controller('postgreSQLCtrl', ['$scope' ,'$http',  function($scope,$http) {
                $scope.val1 = 'This is temp Val' ;  
                $scope.fName = '';
                $scope.lName = '';
                $scope.email = '';  
                $scope.mbl = '' ;
                
                $scope.getAllRec = function(){ 
                     $http({method: 'GET', url: '/db/getUsersList'}).
                        success(function(data, status) { 
                              $scope.dataset = data.data; 
                        }).
                        error(function(data, status) {
                          $scope.dataset = data || "Request failed "; 
                      }); 
                }
                
                
                $scope.addRecord = function(){ 
                    $http({method: 'GET', url: '/db/addRecord?username='+$scope.fName+'&fcm='+
                           $scope.lName+'&lat='+$scope.email+'&lng='+$scope.mbl}).
                        success(function(data, status) { 
                                alert('Record Added');
                                $scope.getAllRec();
                        });  
                }
                
                $scope.delRecord = function(recId){
                    console.log(recId);
                    if(confirm('Are you sure you want to delete this record ? '))
                    {
                        $http({method: 'GET', url: '/db/delRecord?id='+recId}).
                            success(function(data, status) {  
                                    $scope.getAllRec();
                            });
                    }
                } 

                 $scope.createTable = function(){ 
                     $http({method: 'GET', url: '/db/createTable'}).
                        success(function(data, status) { 
                            alert('table created');
                        }).
                        error(function(data, status) {
                          $scope.dataset = data || "Request failed "; 
                      }); 
                }
                
                
                $scope.getAllRec();
                
            }]);
 
        </script>
        
    </body>
    
</html>